<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdvWZ1qk4wXdAqrDAEGZDklkQnNeHnEt0</string>
	<key>GCM_SENDER_ID</key>
	<string>968293702236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secureEvotingApp</string>
	<key>PROJECT_ID</key>
	<string>evoting-app-79654</string>
	<key>STORAGE_BUCKET</key>
	<string>evoting-app-79654.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968293702236:ios:c7df943dd1a8d2bccde499</string>
</dict>
</plist>